# IDEs
.idea

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage

# Environments
.env
venv/
